.gap-analysis {
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  border: 1px solid #00c0f9;
  margin: 10px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  overflow: hidden;
  padding: 20px; 
}

.gap-table {
  width: calc(100% - 40px); 
  margin: 20px auto; 
  border-collapse: collapse;
}

.gap-table th,
.gap-table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.gap-table th {
  background-color: #39CEF3;
  color: #263238;
  font-size: 15px;
}

.gap-analysis h2 {
  margin-left: -20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  width: fit-content;
  background-color: #39CEF3;
  color: white;
  padding: 8px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .gap-analysis {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
  }

  .gap-table {
    width: calc(100% - 20px);
    margin: 10px auto;
  }

  .gap-table th,
  .gap-table td {
    font-size: 13px;
    padding: 8px;
  }

  h2 {
    font-size: 1rem;
    padding: 6px;
  }
}

@media (max-width: 768px) {
  .gap-table th,
  .gap-table td {
    font-size: 12px;
    padding: 6px;
  }

  h2 {
    font-size: 0.9rem;
    padding: 5px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .gap-analysis {
    margin: 5px auto;
    padding: 5px;
  }

  .gap-table {
    width: calc(100% - 10px);
    margin: 5px auto;
  }

  .gap-table th,
  .gap-table td {
    font-size: 11px;
    padding: 4px;
  }

  h2 {
    font-size: 0.8rem;
    padding: 4px;
    margin: 10px 0;
   
  }
}
