.dashboard {
    padding: 20px;
  }
  .chart-container {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 300px;
  }
  


  /* Container styles */
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

/* Dropdown header */
.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #00c1f4;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown-header:hover {
  background-color: #f0faff;
}

.dropdown-text {
  color: #00c1f4;
  font-size: 16px;
  font-weight: 500;
}

.dropdown-icon {
  color: #00c1f4;
  font-size: 20px;
}

/* Dropdown menu */
.dropdown-menu {
  margin-top: 8px;
  border: 1px solid #00c1f4;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px;
  font-size: 14px;
  color: #00c1f4;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f0faff;
}
